<div class="detail">
    <div class="menu">
        <div class="contract">
            <app-contract-info [contract]="contract"></app-contract-info>
        </div>
        <div class="steps" *ngIf="contract">
           <app-detail-step-menu [steps]="contract.steps" 
                (stepSelected)="stepSelected($event)" (subStepSelected)="subStepSelected($event)"></app-detail-step-menu>
        </div>
    </div>
    <div class="chart">
        <app-detail-chart [data]="chartData"></app-detail-chart>
    </div>
</div>