@import '~src/app/common/styles/colors.less';

.detail {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    
    .menu {
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: 400px;
        flex: none;
        background-color: @main-color;

        .contract {
            margin: 10px;
        }

        .steps {
            overflow: auto;
        }

    }

    .chart {
        display: inline-block;
        height: 100%;
        width: calc(100% - 410px);
        margin-left: 10px;
    }
}
