@import '~src/app/common/styles/colors.less';

.header {
    height: 70px;
    flex: none;
    background-color: @main-color;
}

.content {
    margin: 10px;
    position: relative;
    min-height: calc(100vh - 90px);
}
